body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: #fff;
    background-color: #2c2f33;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;  /* 横スクロールバーを防ぐ */
}

nav {
    background-color: #23272a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    width: 100%;
    box-sizing: border-box;
}

nav .logo {
    font-size: 1.5em;
    font-weight: bold;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1em;
    padding: 5px 10px;
    transition: background-color 0.3s ease, transform 0.1s ease;
}

nav ul li a:hover {
    background-color: #444;
    transform: translateY(2px);
}

header {
    text-align: center;
    padding: 50px 20px;
    box-sizing: border-box;
}

h1 {
    font-size: 2.5em;
    margin: 20px 0 10px;
}

p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}

.app-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    width: 100%;
    max-width: 1200px;
}

.app-card {
    background-color: #3b3e45;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    overflow: hidden; /* 親要素の範囲外を隠す */
}

.app-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s ease; /* ホバー時の変化にアニメーションを追加 */
}

.app-card:hover .app-image {
    transform: scale(1.1); /* ホバー時に画像を拡大 */
}

.download-button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 20px;
    margin-top: 10px;
}

.download-button:hover {
    background-color: #0056b3;
}

footer {
    background-color: #23272a;
    text-align: center;
    padding: 20px;
    width: 100%;
    color: #bbb;
    box-sizing: border-box;
}

